<h1>TeamSansFrites</h1>
<p>"Si t'es pas numéro 10 à paname, t'es la banane du siècle"</p>
<p>Notre vision : démocratiser les ragots.</p>
<p>Nous libérons la parole.</p>
<p>By Geoffrey & Adrien.</p>


